%span.title Вход на портал

.content
  .description= t2p_login_description

  = t2p_form_login

= link_to('Зарегистрироваться', t2p_register_by_phone_path)
= link_to('Я не помню пароль', t2p_restore_path)
